*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

:root{
    font-size: 62.5%;
    --background-color: #E8E4E4;
    --font-dark-color: #1E1E1E;
    --font-light-color: #dfdfdf;
    --accent-color-1: rgba(0, 0, 0, 0.993);
    --accent-color-2: rgba(19, 94, 75, 0.993);
    
}

body{
    width: 100%;
    font-size: 1.6rem;
    min-height: 100vh;
    display: grid;
    background-color: var(--background-color);
    color: var(--font-dark-color);
    grid-template-areas:
    'header'
    'main'
    'footer'
    ;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
}


/* Scrollbar */

body::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
    cursor: none;
    background-color: transparent;
}

body::-webkit-scrollbar-track{
    background: transparent;
    padding: 2px;
    
}

body::-webkit-scrollbar-thumb{
    background: #1d1d1d;
    border-radius: 8px;
    cursor: none;

}



/* Header */

header{
    grid: header;
    height: 8rem;
    padding: 2rem 0;
}

header nav ul{
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 3rem;
    list-style: none;
}

header nav ul li a{
    text-decoration: none;
    display: inline-block;
    padding: .5rem 1.4rem;
    color: inherit;
    transition: all .23s ease-in-out;
    border-radius: 8px;
}

header nav ul li a:hover{
    background-color: var(--font-dark-color);
    color: var(--font-light-color);
    
}


/* Main */

main{
    grid: main;
    min-height: 100vh;
}

section{
    padding: 0 9rem;
}

section#welcome,
section#welcome .main-title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 35vh;
    gap: .4rem;

}

section#welcome .title{
    font-size: 6.4rem;
    font-weight: 500;
}

section#welcome .subtitle{
    font-size: 1.6rem;
    font-weight: 400;
}

section#about{
    height: fit-content;
    background-color: var(--font-dark-color);
    color: var(--font-light-color);
    padding: 6rem 20rem;
    position: relative;
}

section#about .vertical-line{
    height: 12rem;
    width: .2rem;
    background: linear-gradient(to bottom, white, rgb(65, 65, 65));
    position: absolute;
    left: 18rem;
    border-radius: 6px;
}

.title2{
    font-size: 2.6rem;
    font-weight: 600;
    margin-bottom: 1.6rem;
    color: inherit;
}


.paragraph{
    line-height: 2.4rem;
}


section#projects{
    min-height: 100vh;
    padding: 6rem 14rem;
}

#projects-list{
    margin-top: 6rem;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 4rem;
}

.project-frame{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.project-frame .content{
    text-align: justify;
}

.project-frame .title-wrapper{
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-bottom: 2rem;

}

.date{
    display: flex;
    align-items: center;
    border: 1px solid #202020;
    color: #202020;
    border-radius: 6px;
    padding: .25rem 1rem;
    font-size: 1.4rem;
}

.project-title{
    font-size: 2rem;
    font-weight: 600;
    color: #313131;
}

.project-paragraph{
    color: #1d1d1d;
    margin: 2rem 0;
}

.tecnologies-list{
    margin-top: 2.6rem;
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.tecnologies-list .tecnology{
    width: fit-content;
    padding: .3rem 1.5rem;
    border-radius: 8px;
    color: #303030;
    background-color: rgba(8, 8, 8, 0.24);
}

.project-frame .project-image{
    width: 100%;
}

.project-frame .project-image img{
    aspect-ratio: 16/9;
    object-fit: cover;
    width: 100%;
    border-radius: 6px;
    box-shadow: .5rem .5rem 2rem rgba(0, 0, 0, 0.267);
}

.buttons-wrapper{
    margin-top: 4rem;
    width: 100%;
    display: flex;
    gap: 2rem;
}

.buttons-wrapper a{
    all: unset;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-size: 1.8rem;
    font-weight: 400;
    padding: .5rem 1rem;
    transition: all .23s ease-in-out;
    cursor: pointer;
    border: 1px solid #1d1d1d;
    border-radius: 12px;
}


.buttons-wrapper a:hover{
    background-color: #1d1d1d;
    color: #e0e0e0;
    border-radius: 12px 12px 0 ;
}


/* Footer */

footer{
    grid: footer;
    height: 8rem;
    background-color: var(--font-dark-color);
}

/* Media Queries */

@media (max-width:987px){

    header nav ul{
        gap: 1rem;
    }

    section{
        padding: 0;
    }

    section#welcome,
    section#welcome .main-title{
        min-height: 35vh;
        padding: 1rem;
        text-align: center;
    }
    
    section#welcome .title{
        font-size: 3.6rem;
        font-weight: 500;
    }

    section#welcome .subtitle{
        font-size: 1.4rem;
    }
    
    section#about{
        padding: 3rem 4.2rem;
    }

    section#about .vertical-line{
        left: 2.8rem;
        border-radius: 6px;
    }

    section#projects{
        padding: 3rem;
    }

    #projects-list{
        grid-template-columns: repeat(1, auto);
    }
}